@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

/* menu start */

nav {
    padding: 15px;
    background-color: #000000;
    border-bottom: 3px solid green;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.nav-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 100px;
}

.menu{
    display: flex;
    list-style: none;
    margin: 1rem 0rem 0.5rem 0rem;     
    align-items: center;
    justify-content: center;
}

.menu a{
    margin: 0 1rem;
}

.btn{
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.active, .btn:hover{
    color: green;
    cursor: pointer;
    transition: 0.3s;
}

.menu-moblie {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
  
.menu-moblie-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.menu-moblie a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.menu-mobile-icon {
    font-size: 30px;
    cursor: pointer;
    display: none;
    color: #fff;
}
  
.menu-moblie a:hover, .menu-moblie a:focus {
    color: green;
}
  
.menu-moblie .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* menu end*/

/* slides start*/

.slideshow-container {
    max-width: 1920px;
    position: relative;
    margin: 0px;
    padding-top: 139px;
    z-index: 1;
}

.mySlides img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.mySlides {
    display: none;
}

.text-banner {
    color: #ffffff;
    text-shadow: 0 0 8px #000000;
    font-size: 50px;
    padding: 8px 12px;
    position: absolute;
    bottom: 150px;
    width: 100%;
    text-align: center;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* slides end*/

/* header start*/

header {
    background-color: #000000;
    color: #fff;
    border-top: 3px solid green;
}

.head-con h1 {
    padding: 15px 0px 0px 0px;
}

.head-con p {
    padding: 15px 0px 30px 0px;
}

/* header end*/

/*section start*/

section {
    background-color: #000000;
    color: #fff;
}

.sec-con p {
    padding: 15px 0px 30px 0px;
}

.thc-cbd {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;  
    margin-bottom: 20px;
}

.thc-cbd .thc{
    background-color: #1b1b1b;
    padding: 15px;
    border-radius: 15px;
}

.thc-cbd .thc img{
    border-radius: 15px;
    max-width: 100%;
}

.thc-cbd .thc h3{
    padding: 10px 0px 10px 0px;
}

.thc-cbd .cbd{
    background-color: #1b1b1b;
    padding: 15px;
    border-radius: 15px;
}

.thc-cbd .cbd img{
    border-radius: 15px;
    max-width: 100%;
}

.thc-cbd .cbd h3{
    padding: 10px 0px 10px 0px;
}

.content-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 3px solid green; 
}

.content-head a {
    color: #fff;
    background-color: green;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.content-head a:hover {
    background-color: rgb(1, 56, 1);
    cursor: pointer;
    transition: 0.3s;
}

.sec-con-content-text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    padding-bottom: 20px;
}

.content-text-1 {
    background-color: #1b1b1b;
    border-radius: 15px;
    margin-top: 20px;
    padding: 15px;

    img {
        border-radius: 15px;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    h2 {
        padding: 0px 0px 10px 0px;
    }

    ul {
        margin-left: 20px;
    }

}

.content-text-2 {
    background-color: #1b1b1b;
    border-radius: 15px;
    margin-top: 20px;
    padding: 15px;

    img {
        border-radius: 15px;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    h2 {
        padding: 0px 0px 10px 0px;
    }

    ul {
        margin-left: 20px;
    }

}

.content-text-3 {
    background-color: #1b1b1b;
    border-radius: 15px;
    margin-top: 20px;
    padding: 15px;

    img {
        border-radius: 15px;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    h2 {
        padding: 0px 0px 10px 0px;
    }

    ul {
        margin-left: 20px;
    }

}

/*section end*/

/*product start*/

.product {
    background-color: #1b1b1b;
    color: #fff;
}

.product-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.product-head a {
    color: #fff;
    background-color: green;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.product-head a:hover {
    background-color: rgb(1, 56, 1);
    cursor: pointer;
    transition: 0.3s;
}

.show-product-con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    padding-bottom: 20px;  
}

.product1 {
    background-color: rgb(1, 56, 1);
    border-radius: 15px;
    margin-top: 20px;
    padding: 15px;
    
    img {
        border-radius: 15px;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    a {
        color: #fff;
        background-color: green;
        font-size: 18px;
        padding: 5px 10px;
        margin-top: 20px;
        border-radius: 5px;
        text-decoration: none;
        float: right;
    }

    a:hover {
        background-color: #1b1b1b;
        cursor: pointer;
        transition: 0.3s;
    }
}

.product2 {
    background-color: rgb(1, 56, 1);
    border-radius: 15px;
    margin-top: 20px;
    padding: 15px;
    
    img {
        border-radius: 15px;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    a {
        color: #fff;
        background-color: green;
        font-size: 18px;
        padding: 5px 10px;
        margin-top: 20px;
        border-radius: 5px;
        text-decoration: none;
        float: right;
    }

    a:hover {
        background-color: #1b1b1b;
        cursor: pointer;
        transition: 0.3s;
    }
}

.product3 {
    background-color: rgb(1, 56, 1);
    border-radius: 15px;
    margin-top: 20px;
    padding: 15px;
    
    img {
        border-radius: 15px;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    a {
        color: #fff;
        background-color: green;
        font-size: 18px;
        padding: 5px 10px;
        margin-top: 20px;
        border-radius: 5px;
        text-decoration: none;
        float: right;
    }

    a:hover {
        background-color: #1b1b1b;
        cursor: pointer;
        transition: 0.3s;
    }
}

.product4 {
    background-color: rgb(1, 56, 1);
    border-radius: 15px;
    margin-top: 20px;
    padding: 15px;
    
    img {
        border-radius: 15px;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    a {
        color: #fff;
        background-color: green;
        font-size: 18px;
        padding: 5px 10px;
        margin-top: 20px;
        border-radius: 5px;
        text-decoration: none;
        float: right;
    }

    a:hover {
        background-color: #1b1b1b;
        cursor: pointer;
        transition: 0.3s;
    }
}

/*product end*/

/*article start*/

article {
    background-color: #000;
    color: #fff;
}

.art-con {
    padding: 15px 0px 10px 0px;
}

.article-box-con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;  
    margin-bottom: 20px;
}

.article-box-con .good{
    background-color: #1b1b1b;
    padding: 15px;
    border-radius: 15px;

    h3{
        padding: 10px 0px 10px 0px;
    }

    ul {
        margin-left: 20px;
    }    
}

.article-box-con .bad{
    background-color: #1b1b1b;
    padding: 15px;
    border-radius: 15px;

    h3{
        padding: 10px 0px 10px 0px;
    }

    ul {
        margin-left: 20px;
    }
}

.art-con-02 {
    padding: 15px 0px 10px 0px;
    border-top: 3px solid green; 
}

.art-con-02 div{
    background-color: #1b1b1b;
    padding: 15px;
    margin: 20px 0px;
    border-radius: 15px;
}

/*article end*/

/*footer start*/

footer {
    background-color: #000;
    color: #fff; 
    border-top: 3px solid green;    
}

.foot-con {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 2rem;
    padding: 20px 0px;
}

.foot-con-logo img {
    height: 100px;
}

.foot-con-menu {
    display: flex;
    justify-content: center;
    align-items: center;

}

.foot-con-contact {
    padding-left: 100px;
}

.footer-bottom {
    color: #fff;
    text-align: center;
    padding: 1rem;
    border-top: 3px solid green;  
}

/*footer end*/

/* 1200PX */

@media only screen and (max-width: 1200px) {

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    
}

/* 1024PX */

@media only screen and (max-width: 1024px) {

    .container {
        max-width: 1024px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    
}

/* 900PX */

@media only screen and (max-width: 900px) {

    .container {
        max-width: 900px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .item1 { grid-area: imgfoot; }
    .item2 { grid-area: menufoot; }
    .item3 { grid-area: contactfoot; }

    .foot-con {
        display: grid;
        grid-template-areas:
            'imgfoot menufoot contactfoot';
        grid-gap: 2rem;
        padding: 20px 0px;
        justify-items: center;
        align-items: center;
    }
    
    .foot-con-logo img {
        height: 100px;
        display: inline;
        justify-content: center;
        align-items: center;
    }
    
    .foot-con-menu {
        display: grid;
        

        a {
            font-size: 15px;
        }
    
    }
    
    .foot-con-contact {
        padding-left: 0px;

        p {
            font-size: 15px;
        }
    }
    
    .footer-bottom {
        color: #fff;
        text-align: center;
        padding: 1rem;
        border-top: 3px solid green;  
    }
    
}

/* 768PX */

@media only screen and (max-width: 768px) {

    nav {
        padding: 15px;
        background-color: #000000;
        border-bottom: 3px solid green;
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 1000;
    }
    
    .container {
        max-width: 768px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    
    .logo img {
        height: 70px;
    }
    
    .menu{
        display: none;
        list-style: none;
        margin: 1rem 0rem 0.5rem 0rem;     
        align-items: center;
        justify-content: center;
    }
    
    .menu-mobile-icon {
        font-size: 30px;
        cursor: pointer;
        display: flex;
        color: #fff;
    }
      
    .slideshow-container {
        max-width: 1920px;
        position: relative;
        margin: auto;
        padding-top: 109px;
        z-index: 1;
    }

    .show-product-con {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        padding-bottom: 20px;  
    }

    .article-box-con {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 2rem;  
        margin-bottom: 20px;
    }

    .article-box-con .bad {
        margin-top: 1rem;
        background-color: #1b1b1b;
        padding: 15px;
        border-radius: 15px;
    }

    .item1 { grid-area: imgfoot; }
    .item2 { grid-area: menufoot; }
    .item3 { grid-area: contactfoot; }

    .foot-con {
        display: grid;
        grid-template-areas:
            'imgfoot menufoot contactfoot';
        grid-gap: 2rem;
        padding: 20px 0px;
        justify-items: center;
        align-items: center;
    }
    
    .foot-con-logo img {
        height: 100px;
        display: inline;
        justify-content: center;
        align-items: center;
    }
    
    .foot-con-menu {
        display: grid;
        

        a {
            font-size: 15px;
        }
    
    }
    
    .foot-con-contact {
        padding-left: 0px;

        p {
            font-size: 15px;
        }
    }
    
    .footer-bottom {
        color: #fff;
        text-align: center;
        padding: 1rem;
        border-top: 3px solid green;  
    }
}

/* 600px */

@media only screen and (max-width: 600px) {

    nav {
        padding: 15px;
        background-color: #000000;
        border-bottom: 3px solid green;
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 1000;
    }
    
    .container {
        max-width: 600px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    
    .logo img {
        height: 70px;
    }
    
    .menu{
        display: none;
        list-style: none;
        margin: 1rem 0rem 0.5rem 0rem;     
        align-items: center;
        justify-content: center;
    }
    
    .menu-mobile-icon {
        font-size: 30px;
        cursor: pointer;
        display: flex;
        color: #fff;
    }
      
    .slideshow-container {
        max-width: 1920px;
        position: relative;
        margin: auto;
        padding-top: 109px;
        z-index: 1;
    }

    .thc-cbd {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 2rem;  
        margin-bottom: 20px;
    }

    .thc-cbd .cbd{
        margin-top: 1rem;
        background-color: #1b1b1b;
        padding: 15px;
        border-radius: 15px;
    }

    .sec-con-content-text {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 2rem;
        padding-bottom: 20px;
    }

    .show-product-con {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        padding-bottom: 20px;  
    }

    .article-box-con {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 2rem;  
        margin-bottom: 20px;
    }

    .article-box-con .bad {
        margin-top: 1rem;
        background-color: #1b1b1b;
        padding: 15px;
        border-radius: 15px;
    }

    .foot-con {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        padding: 20px 0px;
        justify-items: center;
    }
    
    .foot-con-logo img {
        height: 100px;
    }
    
    .foot-con-menu {
        display: grid;
        justify-content: center;
        align-items: center;

        a {
            font-size: 15px;
        }
    
    }
    
    .foot-con-contact {
        padding-left: 0px;

        p {
            font-size: 15px;
        }
    }
}

/* 480PX */

@media only screen and (max-width: 480px) {

    nav {
        padding: 15px;
        background-color: #000000;
        border-bottom: 3px solid green;
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 1000;
    }
    
    .container {
        max-width: 480px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    
    .logo img {
        height: 70px;
    }
    
    .menu{
        display: none;
        list-style: none;
        margin: 1rem 0rem 0.5rem 0rem;     
        align-items: center;
        justify-content: center;
    }
    
    .menu-mobile-icon {
        font-size: 30px;
        cursor: pointer;
        display: flex;
        color: #fff;
    }
      
    .slideshow-container {
        max-width: 1920px;
        position: relative;
        margin: auto;
        padding-top: 109px;
        z-index: 1;
    }

    .text-banner {
        color: #ffffff;
        text-shadow: 0 0 8px #000000;
        font-size: 50px;
        padding: 0px 12px;
        position: absolute;
        bottom: 150px;
        width: 100%;
        text-align: center;
    }

    .thc-cbd {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 2rem;  
        margin-bottom: 20px;
    }

    .thc-cbd .cbd{
        margin-top: 1rem;
        background-color: #1b1b1b;
        padding: 15px;
        border-radius: 15px;
    }

    .sec-con-content-text {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 2rem;
        padding-bottom: 20px;
    }

    .show-product-con {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 2rem;
        padding-bottom: 20px;  
    }

    .article-box-con {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 2rem;  
        margin-bottom: 20px;
    }

    .article-box-con .bad {
        margin-top: 1rem;
        background-color: #1b1b1b;
        padding: 15px;
        border-radius: 15px;
    }

    .item1 { grid-area: imgfoot; }
    .item2 { grid-area: menufoot; }
    .item3 { grid-area: contactfoot; }

    .foot-con {
        display: grid;
        grid-template-areas:
            'imgfoot menufoot contactfoot';
        grid-gap: 2rem;
        padding: 20px 0px;
        justify-items: center;
    }
    
    .foot-con-logo img {
        height: 100px;
        display: inline;
        justify-content: center;
        align-items: center;
    }
    
    .foot-con-menu {
        display: grid;
        justify-content: center;
        align-items: center;

        a {
            font-size: 15px;
        }
    
    }
    
    .foot-con-contact {
        padding-left: 0px;

        p {
            font-size: 15px;
        }
    }
    
    .footer-bottom {
        color: #fff;
        text-align: center;
        padding: 1rem;
        border-top: 3px solid green;  
    }
}

/* 320PX */

@media only screen and (max-width: 320px) {

    nav {
        padding: 15px;
        background-color: #000000;
        border-bottom: 3px solid green;
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 1000;
    }
    
    .container {
        max-width: 320px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    
    .logo img {
        height: 70px;
    }
    
    .menu{
        display: none;
        list-style: none;
        margin: 1rem 0rem 0.5rem 0rem;     
        align-items: center;
        justify-content: center;
    }
    
    .menu-mobile-icon {
        font-size: 30px;
        cursor: pointer;
        display: flex;
        color: #fff;
    }
      
    .slideshow-container {
        max-width: 1920px;
        position: relative;
        margin: auto;
        padding-top: 109px;
        z-index: 1;
    }

    .text-banner {
        color: #ffffff;
        text-shadow: 0 0 8px #000000;
        font-size: 50px;
        padding: 0px 12px;
        position: absolute;
        bottom: 150px;
        width: 100%;
        text-align: center;
    }

    .thc-cbd {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 2rem;  
        margin-bottom: 20px;
    }

    .thc-cbd .cbd{
        margin-top: 1rem;
        background-color: #1b1b1b;
        padding: 15px;
        border-radius: 15px;
    }

    .sec-con-content-text {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 2rem;
        padding-bottom: 20px;
    }

    .show-product-con {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 2rem;
        padding-bottom: 20px;  
    }

    .article-box-con {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 2rem;  
        margin-bottom: 20px;
    }

    .article-box-con .bad {
        margin-top: 1rem;
        background-color: #1b1b1b;
        padding: 15px;
        border-radius: 15px;
    }

    .item1 { grid-area: imgfoot; }
    .item2 { grid-area: menufoot; }
    .item3 { grid-area: contactfoot; }

    .foot-con {
        display: grid;
        grid-template-areas:
            'imgfoot imgfoot'
            'menufoot contactfoot';
        grid-gap: 2rem;
        padding: 20px 0px;
        justify-items: center;
    }
    
    .foot-con-logo img {
        height: 100px;
        display: inline;
        justify-content: center;
        align-items: center;
    }
    
    .foot-con-menu {
        display: grid;
        justify-content: center;
        align-items: center;

        a {
            font-size: 15px;
        }
    
    }
    
    .foot-con-contact {
        padding-left: 0px;

        p {
            font-size: 15px;
        }
    }
    
    .footer-bottom {
        color: #fff;
        text-align: center;
        padding: 1rem;
        border-top: 3px solid green;  
    }
}